*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    border-color: #191919;
}
.image-gellary{
    max-width: 56rem;
    display: flex;
    overflow-x: scroll;
}
.image-gellary div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:1rem;
    padding: 1rem;
    flex: none;
}
.image-gellary div img{
    width: 100%;
    filter:grayscale(100%);
    transition: 0.5s;
}
.image-gellary::-webkit-scrollbar{
    display: none;
}
.gellary-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
#backbtn,#nextbtn{
 width: 3rem;
 cursor: pointer;
 margin: 2.5rem;
}
.image-gellary div img:hover{
    filter:grayscale(0);
    cursor:pointer;
    transform: scale(1.1);
}